{% extends "cookie_base.html" %}
{% block cookie_content %}

<div class="container" align="left">
	<br />
	<h4>Cookie Booth Manage Users</h4>
	<br />
	<p>Select a user to set their troop(s).  Note that this will overwrite whatever is currently set for that user.</p>
	<form method="POST" action="{{ url_for('cookie_user_mgmt') }}" name="troop_membership_form">
		{{ form.hidden_tag() }}
		{{ form.user.label }} : {{ form.user }} <br />
		{{ form.troop.label }} : {{ form.troop }} <br />
		<p><input type=submit value="Update"></p>
	</form>
	{% if error %}
		<p class="error">ERROR: {{ error }}</p>
	{% endif %}
</div>

{% endblock %}