{% extends "cookie_base.html" %}
{% block cookie_content %}

<div class="container" align="left">
	<br />
	<h4>Reserve A Booth</h4>
	<br />
	<form method="post">
		<p>Please select the troop you are reserving a booth for:
		<select name="troop_selected">
			{% for troop in troops %}
			<option value="{{ troop.id }}">{{ troop.troop_number }}</option>
			{% endfor %}
		</select>
		</p>
		<table border="1">
			{% for date in dates %}
			<tr><td>{{ date.strftime("%Y-%m-%d") }} - Please select the booth start time<td></tr>
			<tr><td>
			<table border="2">
				{% for location in locations %}
				<tr>
					<td>{{ location }}</td>
					{% for booth in booths %}
						{% if booth.starttime.astimezone(timezone).date() == date and booth.location.name == location %}
							<td><input type="radio" name="booth_selected" value="{{ booth.id }}" />{{ booth.starttime.astimezone(timezone).strftime("%I:%M %p") }}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
			</td></tr>
			{% endfor %}
		</table>
		<br />
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="submit" name="reserve_booth" value="Reserve"/>
	</form>
</div>

{% endblock %}