{% extends "header.html" %}
{% block body %}
<div>
<div class="container-fluid" id="cookie_menu" align="left" style="width:200px;float:left">
	<img src="/static/images/gs_cookiezone.jpg" class="responsive-img" style="max-height:100px;" alt="CookieZone"/>
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="/cookie_home">Home</a></li>
		<li role="presentation"><a href="/cookie_view_booth">View Booths</a></li>
		{% if current_user.is_authenticated and 'cookie_user' in current_user.get_roles() %}
		<li role="presentation"><a href="/cookie_reserve_booth">Reserve Booth</a></li>
		<li role="presentation"><a href="/cookie_release_booth">Release Booth</a></li>
		<li role="presentation"><a href="/cookie_view_my_booth">See My Booths</a></li>
		{% endif %}
		{% if not current_user.is_authenticated %}
			<li role="presentation"><a href="/login">Login</a></li>
			<li role="presentation"><a href="/register">Register</a></li>
		{% endif %}
		{% if current_user.is_authenticated and 'cookie_admin' in current_user.get_roles() %}
			<li role="presentation"><a href="/cookie_user_mgmt">Manage Cookie Users</a></li>
			<li role="presentation"><a href="/cookie_view_all_reserved">View All Reserved Booths</a></li>
		{% endif %}
		{% if current_user.is_authenticated %}
			<li role="presentation"><a href="/logout">Log Out</a></li>
		{% endif %}
	</ul>
	<hr />
	<p>If you need assistance, please contact your troop cookie coordinator or 
		<a href="mailto:lizphelanatx@gmail.com?Subject=Cookie%20Booth%20Inquiry">Liz Phelan</a></p>
</div>
<div class="container-fluid" id="cookie_content" align="left">
	{% block cookie_content %}
	{% endblock %}
</div>
</div>
{% endblock %}