{% extends "cookie_base.html" %}
{% block cookie_content %}
<h1>Cookie Booth Home Page</h1>
<p>Welcome to the cookie booth reservation system for the Crystal Falls service unit.  There are a few things to note about this website.  Some information will be provided here, but if you have any further questions or feel that something isn't working correctly please use the contact information at the bottom of each page.  In order to use this website, please follow the information below.</p>

<ol>
	<li>Attend cookie training and be the approved person to make booth reservations for your troop.</li>
	<li>Register with this website. Be sure to use credentials that you can remember.</li>
	<li>Let the admin know that you have registered and what troop your username should be associated with.</li>
	<li>Come back later and reserve your booths.</li>
</ol>

<p>Booth rules:</p>

<ul>
	<li>You are welcome to release a booth at any time.  Please do so as soon as you know you will not be able to work that timeslot.</li>
	<li>Booths within the next 9 days are available to be reserved.</li>
	<li>There are no further enforced restrictions on what booths you can reserve, but please only reserve them if you can work them.</li>
</ul>
{% endblock %}