{% extends "cookie_base.html" %}
{% block cookie_content %}

<div class="container" align="left">
	<br />
	<h4>Release Booth(s)</h4>
	<br />
	<p>Please select the booth location and timeslot that you will not be able to work.  This will release it back to the pool for someone else to reserve and work.</p>
	<form method="post">
		<table border="0">
		{% for booth in booths %}
			<tr>
				<td><input type="radio" name="booth_selected" value="{{ booth.id }}" /> {{ booth.location.name }} starting: {{ booth.starttime.astimezone(timezone).strftime("%a %d %b at %I:%M %p") }}</td>
			</tr>
		{% endfor %}
		</table>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="submit" name="release_booth" value="Release"/>
	</form>
</div>

{% endblock %}