{% extends "cookie_base.html" %}
{% block cookie_content %}

<div class="container" align="left">
	<br />
	<h4>View all reserved booths - regardless of troop</h4>
	<br />
	<table border="1">
		{% for date in dates %}
		<tr><td>{{ date.strftime("%Y-%m-%d") }}<td></tr>
		<tr><td>
		<table border="2">
			{% for location in locations %}
			<tr>
				<td>{{ location }}</td>
				{% for booth in booths %}
					{% if booth.starttime.astimezone(timezone).date() == date and booth.location.name == location %}
						<td align="center">{{ booth.starttime.astimezone(timezone).strftime("%I:%M %p") }} - {{ booth.troop.troop_number }}</td>
						<td>&nbsp</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		</td></tr>
		{% endfor %}
	</table>
</div>

{% endblock %}