{% extends "cookie_base.html" %}
{% block cookie_content %}

<div class="container" align="left">
	<br />
	<h4>View upcoming booths</h4>
	<br />
	<table border="1">
		{% for date in dates %}
		<tr><td>{{ date.strftime("%Y-%m-%d") }}<td></tr>
		<tr><td>
		<table border="2">
			{% for location in locations %}
			<tr>
				<td>{{ location }}</td>
				{% for booth in booths %}
					{% if booth.starttime.astimezone(timezone).date() == date and booth.location.name == location %}
						<td>{{ booth.starttime.astimezone(timezone).strftime("%I:%M %p") }}</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		</td></tr>
		{% endfor %}
	</table>
</div>

{% endblock %}