<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <html lang="en">
    <title>Deckinga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Avatar_Boat_tiny.png') }}">
</head>
<header>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Deckinga</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/resume">Resume</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/analysis">Analysis
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/analysis">Page 1-1</a></li>
                    <li><a href="/analysis">Page 1-2</a></li>
                    <li><a href="/analysis">Page 1-3</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/apps">Applications
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/cookie_home">CFSU Cookies</a></li>
                    <li><a href="/2ndApp">AnotherApp</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
            {% else %}                
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
</header>
<body>
    <div class="container-fluid" align="center" style="min-height:75%; max-width:80%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>
    
    <footer>
        <hr />
        <div class="container" align="center">
            <ul class="list-inline">
                <li>
                    <a href="https://twitter.com/NathanDeckinga">
                        <img src="{{ url_for('static', filename='images/TwLogo_small.png') }}" height="40">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/nathan.deckinga">
                        <img src="{{ url_for('static', filename='images/FBLogo.png') }}" height="40">
                    </a>
                </li>
                <li>
                    <a href="https://bitbucket.org/NDeck/">
                        <img src="{{ url_for('static', filename='images/BitbucketLogo_small.png') }}" height="40">
                    </a>
                </li>
                <li>
                    <a href="mailto:nathan@deckinga.com">
                        <img src="{{ url_for('static', filename='images/EmailLogo_small.jpg') }}" height="40">
                    </a>
                </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Nathan Deckinga 2017</p>
        </div>
    </footer>


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>