{% extends "header.html" %}
{% block body %}

<h1>Nathan Deckinga</h1>
<h2>Welcome to my little corner of the internet.</h2>
<br /><hr /><br />
<p>And I've done it.  We are live and ready for business - well, there is no business taking place here, but you know what I mean.  The website is live and survives rebooting the server, plus I actually took a snapshot this time despite that not falling under the free tier for AWS.  With as much as Amazon promotes doing things the right way, and gives you space for RDS backups included in the price, I'm surprised that they haven't done the same thing with their lightsail free trial.</p>
<p>Speaking of Lightsail, I have to say that I'm fairly impressed with this offering.  It's priced just about the same as going down the EC2 route, but with everything you need in a much simpler interface.  The one thing that would be needed in order to make this commercially viable is the ability to do reserved instances of this.  Honestly, with the way this setup happened so easily, I would love to go ahead and reserve this setup for a year or three.  I'm sure it isn't really any better or different then going with a VPS from digital ocean, linode, or others but this has all of the backing of Amazon behind it - and that reserved instance stuff would just be the icing on the pricing cake.  So where does that put this site now?  It's time for me to finish all of the Cookie Booth application stuff and then just add content as I feel like it.  Current status:</p>
<ul align=left>
	<li>Website is up and running on AWS Lightsail with an RDS backing DB</li>
	<li>Nginx for the reverse proxy web server</li>
	<li>Talking to Gunicorn running the Flask based website</li>
	<li>With everything being controlled via Supervisor and virtual environments</li>
	<li>SSL is up and running and actually getting an "A" rating from SSLLabs</li>
	<li>Bootstrap for all of the prettyfication - because I'm a data guy</li>
</ul>
<a href="https://www.ssllabs.com/index.html"><img src="{{ url_for('static', filename='images/ssllabs_summary.png') }}"></a>
<br /><hr /><br />
<p>Well, it looks like plans have changed again.  Not 3 days after I wrote the last update here, my old server (EC2/AWS) just croaked due to a hardware issue on Amazon's side.  Stuff like that happens, so I can't really blame Amazon for it.  I should have had a better backup/restore option in place in order to get it back immediately, but I didn't.  It would be relatively easy to get the old site back as I do have all of the code in git, but I still have to set up the OS and the underlying infrastructure again.  If I'm going to do that, I might as well hook up the new site and make it live for the world despite it not being quite ready.  So here we go - time to put the new Flask based site into production and just "do it live!".  What's more is that Amazon has introduced Lightsail since the last time I set anything up.  I'm probably going to switch over to that and see how it goes - yes, it will be a trifle more expensive that way, but it will also include everything in one shot instead of trying to figure all of the AWS complexities out myself, especially the DNS stuff.  See y'all on the flip side.</p>
<br /><hr /><br />
<p>I decided to go ahead and get the cookie booth reservation system up and running 100% before I went ahead and swapped out sites as there really isn't anything special about what I'm going to be replacing or replacing it with.  In fact, the majority of the use for this site by external folks (meaning not me just playing around and learning new stuff) is from the CFSU cookie booth reservation system.  I felt it wouldn't be worth a swap unless that was 100% ready to go as well.</p>
<p>That means that the debut of the new platform has been delayed a while, but it's in a much better state and something I'm much happier with.</p>
<br /><hr /><br />
<p>If you have been watching this site for a while, you will have noticed me switch from a Wordpress site hosted on a shared service to a django-cms based site.  Well, I went with Django because it was supposed to be the fast solution to just getting a website up and running.  Turns out that Django is quite batteries included (which I knew), but that I also don't like those batteries (which I had to learn).  I think the biggest part that I found was that it almost requires the use of an ORM to manage the DB.  I can somewhat understand an ORM for connecting to and using a database, but that same ORM should be a consumer only - not a creator of the database.</p>
<p>So what does that mean now?  I've thrown out the Django model and redone a site using Flask.  That change is what you see here.  At the moment, I don't have the entire site migrated over - I am still largely missing the cookie booth reservation app.  I'll get to that shortly, but in a rev 2 with a few improvements.</p>


{% endblock %}