{% extends "header.html" %}
{% block body %}

<div class="container" align="left">
	<br />
	<h4>Login</h4>
	<br />
	<form method="POST" action="{{ url_for('login') }}" name="login_user_form">
		<table>
			<tr>
				<td align="right">{{ form.email.label }} : </td>
				<td>{{ form.email }}</td>
			</tr>
			<tr>
				<td align="right">{{ form.password.label }} : </td>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		{{ form.remember_me.label }} : {{ form.remember_me }} <br />
		{{ form.hidden_tag() }}
		<p><input type=submit value="Login"></p>
	</form>
	{% if error %}
		<p class="error">ERROR: {{ error }}</p>
	{% endif %}
</div>

{% endblock %}