{% extends "header.html" %}
{% block body %}

<div class="container" align="left">
	<br />
	<h4>Reset Password</h4>
	<br />
	<form method="POST" action="{{ url_for('password_reset') }}" name="password_reset_form">
		<table>
			<tr>
				<td align="right">{{ form.email.label }} : </td>
				<td>{{ form.email }}</td>
			</tr>
			<tr>
				<td align="right">{{ form.reset_token.label }} : </td>
				<td>{{ form.reset_token }}</td>
			</tr>
			<tr>
				<td align="right">{{ form.password.label }} : </td>
				<td>{{ form.password }}</td>
			</tr>
			<tr>
				<td align="right">{{ form.confirm_password.label }} : </td>
				<td>{{ form.confirm_password }}</td>
			</tr>
		</table>
		{{ form.hidden_tag() }}
		<p><input type=submit value="Reset Password"></p>
	</form>
	{% if error %}
		<p class="error">ERROR: {{ error }}</p>
	{% endif %}
</div>

{% endblock %}