{% extends "header.html" %}
{% block body %}

<div class="container" align="left">
	<br />
	<h4>Register for the website</h4>
	<br />
	<form method="POST" action="{{ url_for('register') }}" name="register_user_form">
		<table>
			<tr>
				<td align="right">{{ form.email.label }} : </td>
				<td>{{ form.email }}</td>
			</tr>
			<tr>
				<td align="right">{{ form.password.label }} : </td>
				<td>{{ form.password }}</td>
			</tr>
			<tr>
				<td align="right">{{ form.confirm_password.label }} : </td>
				<td>{{ form.confirm_password }}</td>
			</tr>
		</table>
		{{ form.accept_box.label }} : {{ form.accept_box }} <br />
		{{ form.hidden_tag() }}
		<p><input type=submit value="Register"></p>
	</form>
	{% if error %}
		<p class="error">ERROR: {{ error }}</p>
	{% endif %}
</div>

{% endblock %}