{% extends "header.html" %}
{% block body %}

<p align="left" style="margin-top: 0.15in; margin-bottom: 0in; border-top: none; border-bottom: 1px solid #808080; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; text-transform: uppercase; letter-spacing: 0.8pt; line-height: 0.15in">
<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Experience</font></font></font></p>
<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>2017
– Present	FloSports		Austin, TX</b></font></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Senior
Data Engineer</b></font></font></p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Design
	and populate data stores for key analytical data using cloud storage
	medium</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Population
	S3, Redshift, Aurora, MySQL, PostgreSQL using Python3</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Accomplishments</b></font></font></p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Migrate
	production database from initial version/schema to a new data
	structure</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in; font-weight: normal"><br/>

</p>
<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>2013
– 2017		Invodo		Austin, TX</b></font></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Senior
Manager: Engineering</b></font></font></p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Set
	engineering direction and priorities for all technology related
	issues</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Set
	a department budget and manage expenses to stay within that</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Manager:
Databases and Analytics</b></font></font></p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Manage
	a small team of engineers responsible for generating analytics</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Hold
	one on one meetings with all team members</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Handle
	compensation, vacation, and performance issues with my team</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Communicate
	information up and down the chain of command</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Senior
Software Engineer: Databases</b></font></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Accomplishments:
</b></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Migrated
	data warehouse from MySQL to PostgreSQL</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Consolidated
	ETL process into a single program</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Lead
	a data processing system </span><span style="font-weight: normal">redesign</span><span style="font-weight: normal">
	for improved data analysis </span><span style="font-weight: normal">throughput
	and flexibility</span></font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>AWS:</b><span style="font-weight: normal">
</span></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Utilize
	Amazon cloud technologies to supplement needed on-site hardware</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Databases:
	MySQL, PostgreSQL, Redshift</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Other:
	Lambda, S3, EC2, SNS, SQS </font></font>
	</p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Customer
Assistance:</b><span style="font-weight: normal"> </span></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Provide
	support to internal customers to increase productivity</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Create
	“Golden DB”</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Assist
	with API creation</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Custom
	reports / data analysis</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Team
Lead: </b><span style="font-weight: normal">Coordinate interactions
and interface contracts between applications and teams</span></font></font></p>
<p align="left" style="margin-bottom: 0in"><br/>

</p>
<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>2012
– 2013	    		Trion Worlds			Austin, TX</b></font></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Lead
Database Administrator – SQL Server &amp; MySQL Cluster</b></font></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 11pt">Accomplishments:</font></b><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
</span></font></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Lead
	DBA of Defiance </span></font></font><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">MMO
	</span></font></font><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">for
	launch on 3 platforms simultaneously</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Lead
	DBA of Rift MMO for launch of Storm Legion expansion</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 11pt">Capacity
Planning:</font></b><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
</span></font></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Determine
	size and throughput needs (including number of nodes) for a MySQL
	Cluster 	installation to support Defiance</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Monitor
	schema and data pattern changes to proactively </span></font><font size="2" style="font-size: 11pt"><span style="font-weight: normal">adjust
	storage for optimal performance</span></font></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Determine
	ideal RDBMS settings for application usage</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Determine
	best use of SSD, local HD, SAN storage for administration and
	performance goals</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 11pt">Automation:</font></b><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
</span></font></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Create
	perl scripts for linux/MySQL administration including backups and
	file movement</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Include
	SSH and remote commands in perl scripts for single location
	execution</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Update
	and extend SQL Server CMS for centralized statistics</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Create
	scripts utilizing DMVs for easier control of SQL Server DB sizes</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Create
	&amp; update Windows PowerShell scripts </span></font><font size="2" style="font-size: 11pt"><span style="font-weight: normal">for
	installing  and managing SQL Server</span></font></font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 11pt">24x7
Support:</font></b><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
</span></font></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Perform
	all duties needed </span></font></font><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">(backup/restore,
	etc.)</span></font></font><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
	for continual customer uptime of games</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Identify
	bugs in MySQL Cluster and work with Oracle to resolve them or create
	workaround</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Perform
	DB upgrades and game releases with minimal customer impact</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 11pt">Tuning:</font></b><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
</span></font></font></font></p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Work
	with BI Analysts to identify poor performing reports and suggest
	query, indexing, and data 	structure changes for improving
	performance and reducing resources needed.</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Work
	with game programmers to structure production schema for ideal
	interaction, including setting data flow process and SLA guarantees.</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 11pt">HA/DR:</font></b><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
</span></font></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">MySQL
	Replication (InnoDB → InnoDB and NDB Cluster → InnoDB)</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">SQL
	Server transactional and merge replication</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Log
	rotation, </span></font><font size="2" style="font-size: 11pt"><span style="font-weight: normal">backup
	policy, </span></font><font size="2" style="font-size: 11pt"><span style="font-weight: normal">remote
	backup storage, offsite backup retention automation</span></font></font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 11pt">Agile
Methodologies:</font></b><font size="2" style="font-size: 11pt"><span style="font-weight: normal">
</span></font></font></font>
</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">Use
	Rally software to track and manage work</span></font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Perform
	the role of Product Owner to gather requirements &amp; prioritize
	all DBA needs at Trion</font></font></p>
	<p align="left" style="margin-bottom: 0in; font-weight: normal"></p>
</ul>
<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>2008 – 2012       		HomeAway                                    Austin, TX</b></font></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Senior
Database Engineer – SQL Server</b></font></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Modeling</b>:
	</font></font>
	</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Gather
	application and reporting requirements as well as DB standards</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Collaborate
	with application developers to create optimal data model</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Use
	PowerDesigner to create and maintain database models. Publish on
	internal wiki.</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Update
	as needed with planned and emergency changes (including procedures)</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Development</b>:
	</font></font>
	</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Create
	and update tables, constraints, and indexes based on the agreed
	model</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Create
	and update stored procedures and functions (including CLR and XML)
	as needed</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">C#
	application development and support (utilizing DB and Web Service
	interfaces)</font></font></p>
</ul>
	<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Integration</b>:
	</font></font>
	</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Nightly
	merge of production data for all brands into Operational Data Store</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Utilize
	3rd party tools for keeping SalesForce.com updated with owner and
	listing information</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Merge
	5 SalesForce organizations down to 2</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Tuning</b>:
	</font></font>
	</p>
<ul>
	<li/>
<p align="left" align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Determine,
	investigate, and improve poor performing queries and procedures</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Administration</b>:
	</font></font>
	</p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Set
	up High Availability and Disaster Recovery solutions</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Create
	and monitor jobs for DB backup and other needed tasks</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Ensure
	successful completion of needed tasks including 24x7 support</font></font></p>
</ul>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Reporting</b>:
	</font></font></p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Utilize SSRS to create a reporting website with appropriate secure customer access</font></font></p>
</ul>
<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><b>2007
– 2008       		Llesiant                                        
Austin, TX</b></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><b>Senior
Database Administrator – SQL Server</b></font></p>
<ul>
	<p style="margin-bottom: 0in"></p>
</ul>
<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><b>2006
– 2007       	TOPAZ Technologies                 Austin, TX</b></font></p>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><b>Development
Database Administrator – Oracle &amp; SQL Server</b></font></p>
<ul>
	<p style="margin-bottom: 0in"></p>
</ul>
<p align="center" style="margin-top: 0.04in; margin-bottom: 0in; letter-spacing: 0.3pt; font-style: normal; line-height: 0.15in; orphans: 2; widows: 2">
<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>1997
– 2006	        Dell, Inc.	Round Rock, TX</b></font></font></font></p>
<p align="left" style="margin-top: 0.03in; margin-bottom: 0.03in; letter-spacing: 0.3pt; font-style: normal; line-height: 0.15in; orphans: 2; widows: 2">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Database
Developer / Administrator / Architect  - Oracle &amp; SQL Server (6
Years)</b></font></font></font></p>
<p align="left" style="margin-top: 0.03in; margin-bottom: 0.03in; letter-spacing: 0.3pt; font-style: normal; line-height: 0.15in; orphans: 2; widows: 2">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>I/T
Business Systems Analyst (1.5 Years)	Lead Internet Software Engineer
(1.5 Years)</b></font></font></font></p>
<p align="left" style="margin-top: 0.03in; margin-bottom: 0.03in; letter-spacing: 0.3pt; font-style: normal; line-height: 0.15in; orphans: 2; widows: 2">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>ReadyWare
Software Developer (1 Year)	ReadyWare Software Tester (4 Months)</b></font></font></font></p>
<p align="left" style="margin-top: 0.15in; margin-bottom: 0in; border-top: none; border-bottom: 1px solid #808080; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; text-transform: uppercase; letter-spacing: 0.8pt; line-height: 0.15in">
<font size="2" style="font-size: 10pt"><font face="Times New Roman, serif"><font size="1" style="font-size: 8pt"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en-US">Education</span></font></font></font></font></font></font></p>
<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><b>2001
– 2002		Microsoft Certifications		Austin, TX</b></font></p>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="1" style="font-size: 8pt"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">MCDBA
	in MS SQL Server 200</font></font></font></font><font face="Times New Roman, serif"><font size="1" style="font-size: 8pt"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">0</font></font></font></font></p>
</ul>
<ul>
	<p align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><b>1997
	– 2001		Park University		Austin, TX</b></font></p>
</ul>
<ul>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">B.S.
	in Computer Science (Magna Cum Laude)</font></font></p>
	<li/>
<p align="left" style="margin-bottom: 0in; font-weight: normal">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">A.S.
	In Management (Magna Cum Laude)</font></font></p>
</ul>
<p align="left" style="margin-top: 0.15in; margin-bottom: 0in; border-top: none; border-bottom: 1px solid #808080; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; text-transform: uppercase; letter-spacing: 0.8pt; line-height: 0.15in">
<font size="2" style="font-size: 10pt"><font face="Times New Roman, serif"><font size="1" style="font-size: 8pt"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en-US"><span style="font-weight: normal">Other
Interests				Skills</span></span></font></font></font></font></font></font></p>
<p align="left" style="margin-bottom: 0in; font-weight: normal"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Photography					T-SQL
/ PL-SQL / MySQL / MySQL Cluster / PostgreSQL</font></font></p>
<p align="left" style="margin-bottom: 0in; font-weight: normal"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Wood
working					C# PHP C++ APEX Java SSRS SSAS SSIS Python Scala</font></font></p>
<p align="left" style="margin-bottom: 0in; font-weight: normal"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Bicycle
riding (road)				Windows / Linux / OS X / AWS</font></font></p>

{% endblock %}